body {
    margin: 0;
    font-family: system-ui;
}

.navbar {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#map {
    height: calc(100vh - 70px);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.modal-content {
    background: white;
    width: 90%;
    max-width: 400px;
    margin: 5% auto;
    padding: 1rem;
    border-radius: 12px;
}

.close {
    float: right;
    cursor: pointer;
}

img#preview {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}
